In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("iris_dataset.csv")
features = df.columns[df.columns != "target"]
df_feature=df[features]
df_feature

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [ ]:
pd.set_option('display.expand_frame_repr', False)

group = df.groupby("target")
mean = group.agg("mean")
std = group.agg("std")
print("mean")
print(mean)
print("std")
print(std)
print("range")
print(group.agg(lambda x: np.max(x)-np.min(x)))
print("max")
print(group.agg("max"))
print("min")
print(group.agg("min"))

mean
        sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
target
0                   5.006             3.428              1.462             0.246
1                   5.936             2.770              4.260             1.326
2                   6.588             2.974              5.552             2.026
std
        sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
target
0                0.352490          0.379064           0.173664          0.105386
1                0.516171          0.313798           0.469911          0.197753
2                0.635880          0.322497           0.551895          0.274650
range
        sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
target
0                     1.5               2.1                0.9               0.5
1                     2.1               1.4                2.1               0.8
2                     3.0               1.6                2.4               1.1
max
        sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
target
0                     5.8               4.4                1.9               0.6
1                     7.0               3.4                5.1               1.8
2                     7.9               3.8                6.9               2.5
min
        sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
target
0                     4.3               2.3                1.0               0.1
1                     4.9               2.0                3.0               1.0
2                     4.9               2.2                4.5               1.4

In [27]:
# def P(x,clas):
#     sdt=group[0]
group[0]

KeyError: 'Column not found: 0'